<script>
    export let data = [];
    export let xScale;
    export let yScale;
    export let height;
    export let width;

    let pathGenerator = (d) => {
		let path = "M 0, " + yScale(0);
		d.forEach((value,idx) => {
			path += " " + xScale(idx) + ',' + yScale(value)
		})
        path += " " + xScale(72) + "," + yScale(0) + " Z";
		return path;
	}

</script>

<style>
    path {
        stroke: none;
        fill: blue;
        fill-opacity: 0.5;
    }
    
</style>

<path d={pathGenerator(data)}/>