<script>
	import { scaleLinear } from 'd3-scale';
	import { extent } from 'd3-array'
  import Design_3_CityElec from './design_3_CityElec.svelte'
  import Design_3_CityGas from './design_3_CityGas.svelte'

	let datapoints = []
  	fetch("data/Ex3.json")
	  .then(res => res.json())
	  .then(data => datapoints = data)


	// Size and margins
	const width = 500;
  	const height = 700;
  	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  	const innerWidth = width - margin.left - margin.right;
  	const innerHeight = height - margin.top - margin.bottom;


	let transformed_data = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data)) {
				transformed_data[d.city] = {}
			}
			if ( !(d.week in transformed_data[d.city])) {
				transformed_data[d.city][d.week] = []
			}
			
			transformed_data[d.city][d.week].push(d.total_electrity)
		})
	}
	let transformed_data_gas = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data_gas)) {
				transformed_data_gas[d.city] = {}
			}
			if ( !(d.week in transformed_data_gas[d.city])) {
				transformed_data_gas[d.city][d.week] = []
			}
			
			transformed_data_gas[d.city][d.week].push(d.total_gas)
		})
	}


	$: console.log(transformed_data)


	$: xScale = scaleLinear().domain([0,168]).range([0,width/2])

	$: yScale = scaleLinear().domain(extent(datapoints.map((d)=> d.total_electrity))).range([height/28,0])
	$: yScale_gas = scaleLinear().domain(extent(datapoints.map((d)=> d.total_gas))).range([0,height/28])


</script>

<!--<svg {width} {height}>
	{#each Object.keys(transformed_data) as city_name, city_idx}
		<g transform="translate({width/2},0)">
			{#each Object.keys(transformed_data[city_name]) as week_nr, week_idx}
				<g transform="translate(0,{height-(height/7)*(week_nr-48)-2*height/7})">
					{#each transformed_data[city_name][week_nr] as value, idx}
						<circle cx={xScale(idx)} cy={yScale(value)} r=1 />
					{/each}
				</g>
			{/each}
		</g>
	{/each}
</svg>-->

<svg {width} {height}>
	<rect x=0 y=0 width={width/2} height={height}></rect>
	<rect x=0 y=430 width={width/2} height={height-430}></rect>
	<rect x=0 y=230 width={width/2} height={height-230}></rect>
	<rect x={width/2} y=130 width={width/2} height={height-130}></rect>
	<rect x={width/2} y=330 width={width/2} height={height-330}></rect>
	<rect x={width/2} y=530 width={width/2} height={height-530}></rect>
	<text x={width/2-70} y=533>Week 48</text>
	<text x={width/2+10} y=433>Week 49</text>
	<text x={width/2-70} y=333>Week 50</text>
	<text x={width/2+10} y=233>Week 51</text>
	<text x={width/2-70} y=133>Week 52</text>
	<rect x={width/2} y=0 width={width/2} height={height}></rect>
	<text font-size="5" transform="translate({width/2+5}, 545) rotate(90)">Monday 12 am</text>
	<text font-size="5" transform="translate({width-9}, 545) rotate(90)">Sunday 11 pm</text>
	<text font-size="5" transform="translate({width/2+5}, 345) rotate(90)">Monday 12 am</text>
	<text font-size="5" transform="translate({width-9}, 345) rotate(90)">Sunday 11 pm</text>
	<text font-size="5" transform="translate({width/2+5}, 145) rotate(90)">Monday 12 am</text>
	<text font-size="5" transform="translate({width-147}, 145) rotate(90)">Wednesday 11 pm</text>
	<text font-size="5" transform="translate({width/2-7}, 445) rotate(90)">Monday 12 am</text>
	<text font-size="5" transform="translate(5, 445) rotate(90)">Sunday 11 pm</text>
	<text font-size="5" transform="translate({width/2-7}, 245) rotate(90)">Monday 12 am</text>
	<text font-size="5" transform="translate(5, 245) rotate(90)">Sunday 11 pm</text>
	
	{#each Object.keys(transformed_data) as city_name, city_idx}
	<g transform="translate({width/2},0)">
		<Design_3_CityElec data={transformed_data[city_name]} {width} {xScale} {yScale} {height}/>

	</g>
	{/each}
	{#each Object.keys(transformed_data_gas) as city_name, city_idx}
	<g transform="translate({width/2},0)">
		<Design_3_CityGas data={transformed_data_gas[city_name]} {width} {xScale} yScale={yScale_gas} {height}/>

	</g>
	{/each}

</svg>
<svg width=300 height=700>
  <text font-size="30" x=10 y=30>Chicago</text>
  <text font-size="20" x=10 y=60>December 2014</text>
	<rect x=10 y=80 width=10 height=10 style="fill:blue"></rect>
	<text font-size="10" x=25 y=89>Electric Energy Consumption per Week</text>
	<rect x=10 y=110 width=10 height=10 style="fill:orange"></rect>
	<text font-size="10" x=25 y=119>Gas Energy Consumption per Week</text>
</svg>
<rect x=0 y=0 width=100 height=100></rect>

<style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}
	circle {
		fill: black;
		fill-opacity: 0.5;

	}
	rect{
		fill: none;
		stroke: black;
	}
	
</style>
