<script>
    export let data = [];
    export let xScale;
    export let yScale;
    export let height;
    export let width;

    let pathGenerator = (d) => {
		let path = "M 0, " + yScale(0);
		d.forEach((value,idx) => {
			path += " " + xScale(idx) + ',' + yScale(value)
		})
        path += " " + xScale(23) + "," + yScale(0) + " Z";
		return path;
	}

</script>

<style>
    path {
        stroke: none;
        fill: red;
        fill-opacity: 0.5;
    }
    
</style>

<!--{#each data as value, idx}
    <rect  x={xScale(idx)} y={(height/16)-yScale(value)} width=1 height={height/16-yScale(value)}/>
{/each}-->

<path d={pathGenerator(data)}/>

<!--{#each data as value, idx}
    <circle cx={xScale(idx)} cy={yScale(value)} r=1 />
{/each}-->
