<script>
    import Design_2_DayHeating from './design_2_DayHeating.svelte'
    export let data = {}
    export let width;
    export let xScale;
    export let yScale;
    export let height;

    
	
</script>

{#each Object.keys(data) as day_nr, day_idx}
		<g transform="translate({width/6},0) rotate({(day_idx+1)*30}, 0, {height/2})">
            <Design_2_DayHeating data={data[day_nr]} {xScale} {yScale} {width} {height}/>
		</g>
{/each}