<script>
    import Design_3_DaysElec from './design_3_DaysElec.svelte';
    //import Design_3_DaysGas from './design_3_DaysGas.svelte';
    import Design_3_DaysElecShortWeek from './design_3_DaysElecShortWeek.svelte';
    //import Design_3_DaysGasShortWeek from './design_3_DaysElec.svelte';
    export let data = {}
    export let width;
    export let xScale;
    export let yScale;
    export let yScale_gas;
    export let height;

    
	
</script>

<style>
    rect {
        fill: none;
        stroke: black;
    }
    text {
        font-size: 9px;
    }
    
    
</style>



{#each Object.keys(data) as week_nr, week_idx}
{#if week_nr % 2 == 0}
<g transform="translate(0,{height-(height/7)*(week_nr-48)-2*height/7})">
    {#if week_nr === '52'}
        <Design_3_DaysElecShortWeek data={data[week_nr]} {xScale} {yScale} {width} {height}/>
    
    {:else}
        <Design_3_DaysElec data={data[week_nr]} {xScale} {yScale} {width} {height}/>
    {/if}
</g>
{:else}
<g transform="translate(0,{height-(height/7)*(week_nr-48)-2*height/7}) scale(-1 1)">
    {#if week_nr === '52'}
        <Design_3_DaysElecShortWeek data={data[week_nr]} {xScale} {yScale} {width} {height}/>
    
    {:else}
        <Design_3_DaysElec data={data[week_nr]} {xScale} {yScale} {width} {height}/>
    {/if}
</g>
{/if}
{/each}
