<script>
    import Design_1_Day from './design_1_Day.svelte'
    export let data = {}
    export let width;
    export let xScale;
    export let yScale;
    export let height
    export let show_axis

    
	
</script>

<style>
    rect {
        fill: none;
        stroke: black;
    }
    text {
        font-size: 8px;
    }
    
    
</style>

<rect x=0 y=0 width={width} height={height/16}/>

{#each Object.keys(data) as day_nr, day_idx}
<g transform="translate({day_idx*width/31},0)">
    {#if show_axis===1}
    <text x=0 y={yScale(0)}>{day_nr}.12.</text>
    {/if}
    <Design_1_Day data={data[day_nr]} {xScale} {yScale} {width} {height}/>
    
</g>
{/each}