<script>

	import { scaleLinear } from 'd3-scale';
	import { extent } from 'd3-array'

	import Design_1_Building from './design_1_Building.svelte';

	// Size and margins
	const width = 740;
 	const height = 3000;
 	const margin = { top: 100, right: 10, bottom: 10, left: 10 };
  	const innerWidth = width - margin.left - margin.right;
  	const innerHeight = height - margin.top - margin.bottom;

  
	let chosen_city = 1;
	let scale = 1;
  $: show_axis = 1;

	let datapoints = []
  	fetch("data/Ex1.json")
	  .then(res => res.json())
	  .then(data => datapoints = data)

	let transformed_data = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data)) {
				transformed_data[d.city] = {}
			}
			if ( !(d.buildingtype in transformed_data[d.city])) {
				transformed_data[d.city][d.buildingtype] = []
			}
			
			transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
		})
	}

	let max_value = 0
	let max_day = 0
	let list_Bal = []
	let list_Bal_day = []
	let list_Chi = []
	let list_Chi_day = []
	let list_LA = []
	let list_LA_day = []

	let transformed_data_Bal = {}
	$:{
		datapoints.forEach((d) => {
			if (d.city == "Baltimore") {
				if ( !(d.buildingtype in transformed_data_Bal)) {
					transformed_data_Bal[d.buildingtype] = {}
				}
				if ( !(d.day in transformed_data_Bal[d.buildingtype])) {
					transformed_data_Bal[d.buildingtype][d.day] = []
				}
				transformed_data_Bal[d.buildingtype][d.day].push(d.total_heating_energy)
				if (transformed_data_Bal[d.buildingtype][d.day].length == 24) {
					//list_Bal_day.push(Math.max(transformed_data_Bal[d.buildingtype][d.day]))
					max_day = Math.max.apply(Math, transformed_data_Bal[d.buildingtype][d.day])
					list_Bal_day.push(max_day)
				}
				if (list_Bal_day.length == 31) {
					max_value = Math.max.apply(Math, list_Bal_day)
					list_Bal.push(max_value)
					list_Bal_day = []
				}
				
			}

		})
	}
	$: console.log(list_Bal)

	let transformed_data_Chi = {}
	$:{
		datapoints.forEach((d) => {
			if (d.city == "Chicago") {
				if ( !(d.buildingtype in transformed_data_Chi)) {
					transformed_data_Chi[d.buildingtype] = {}
				}
				if ( !(d.day in transformed_data_Chi[d.buildingtype])) {
					transformed_data_Chi[d.buildingtype][d.day] = []
				}
				transformed_data_Chi[d.buildingtype][d.day].push(d.total_heating_energy)
				if (transformed_data_Chi[d.buildingtype][d.day].length == 24) {
					//list_Bal_day.push(Math.max(transformed_data_Bal[d.buildingtype][d.day]))
					max_day = Math.max.apply(Math, transformed_data_Chi[d.buildingtype][d.day])
					list_Chi_day.push(max_day)
				}
				if (list_Chi_day.length == 31) {
					max_value = Math.max.apply(Math, list_Chi_day)
					list_Chi.push(max_value)
					list_Chi_day = []
				}
			}
		})
	}

	let transformed_data_LA = {}
	$:{
		datapoints.forEach((d) => {
			if (d.city == "Los Angeles") {
				if ( !(d.buildingtype in transformed_data_LA)) {
					transformed_data_LA[d.buildingtype] = {}
				}
				if ( !(d.day in transformed_data_LA[d.buildingtype])) {
					transformed_data_LA[d.buildingtype][d.day] = []
				}
				transformed_data_LA[d.buildingtype][d.day].push(d.total_heating_energy)
				if (transformed_data_LA[d.buildingtype][d.day].length == 24) {
					//list_Bal_day.push(Math.max(transformed_data_Bal[d.buildingtype][d.day]))
					max_day = Math.max.apply(Math, transformed_data_LA[d.buildingtype][d.day])
					list_LA_day.push(max_day)
				}
				if (list_LA_day.length == 31) {
					max_value = Math.max.apply(Math, list_LA_day)
					list_LA.push(max_value)
					list_LA_day = []
				}
			}
		})
	}

	let final_data = {}
	let final_max_value_list = []
	$:{
		if (chosen_city==1) {
			final_data = transformed_data_Bal
			final_max_value_list = list_Bal
		}
		if (chosen_city==2) {
			final_data = transformed_data_Chi
			final_max_value_list = list_Chi
		}
		if (chosen_city==3) {
			final_data = transformed_data_LA
			final_max_value_list = list_LA
		}
	}





	


	$: xScale = scaleLinear().domain([0,24]).range([0,width/31])

	$: yScale = scaleLinear().domain(extent(datapoints.map((d)=> d.total_heating_energy))).range([height/16,0])




	
</script>


<svg {width} {height}>

	{#each Object.keys(final_data) as build_name, build_idx}
		<g transform="translate(0,{build_idx*height/16})">
			<text x=10 y={yScale(height)}>{build_name}</text>
			{#if scale === 1}
				<Design_1_Building data={final_data[build_name]} {width} {xScale} {yScale} {height} {show_axis}/>
			{/if}
			{#if scale === 2}
				<Design_1_Building data={final_data[build_name]} {width} {xScale} yScale={scaleLinear().domain([0, final_max_value_list[build_idx]]).range([height/16,0])} {height} {show_axis}/>
			{/if}

		</g>
	{/each}
  </svg>
  <div>
  <div>
    <label>
      <input type=radio bind:group={chosen_city} value={1}>
      Baltimore
    </label>
  <br>
    <label>
      <input type=radio bind:group={chosen_city} value={2}>
      Chicago
    </label>
    <br>
    <label>
      <input type=radio bind:group={chosen_city} value={3}>
      Los Angeles
    </label>
    </div>
    <br>
    <div>
    <label>
      <input type=radio bind:group={scale} value={1}>
      Scale Across All Buildings
    </label>
    <br>
    <label>
      <input type=radio bind:group={scale} value={2}>
      Scale Within Building
    </label>
</div>
<br>
<div>
  <label>
    <input type=radio bind:group={show_axis} value={1}>
    Show Axis
  </label>
  <br>
  <label>
    <input type=radio bind:group={show_axis} value={2}>
    Hide Axis
  </label>
</div>
</div>

  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}
  </style>
