<script>
    export let data = [];
    export let xScale;
    export let yScale_cooling;
    export let yScale;
    export let height;
    export let width;

</script>

<style>
    circle {
        stroke: none;
        fill: blue;
    }
    
</style>

{#each data as value, idx}
    <circle cx={xScale(idx)} cy={yScale(value)} r=2 />
{/each}