<script>
    export let data = [];
    export let xScale;
    export let yScale;
    export let height;
    export let width;

    let pathGenerator = (d) => {
		//let path = "M 0, " + yScale(0);
        let path = "M";
		d.forEach((value,idx) => {
			path += " " + xScale(idx)*Math.cos((idx+1)*30) + ',' + yScale(value)*Math.sin((idx+1)*30)
		})
        //path += " " + xScale(168) + "," + yScale(0) + " Z";
        path += " Z";
		return path;
	}

</script>

<style>
    path {
        stroke: none;
        fill: blue;
        fill-opacity: 0.5;
    }
    
</style>

<!--<path d={pathGenerator(data)}/>-->

{#each data as value, idx}
    <circle cx={xScale(idx)} cy={yScale(value)} r=2 fill="red"/>
{/each}