<script>
    import Design_2_DayCooling from './design_2_DayCooling.svelte'
    export let data = {};
    export let width;
    export let xScale;
    export let height;
    export let yScale   ;



</script>

{#each Object.keys(data) as day_nr, day_idx}
    <g transform="translate({width/6},0) rotate({(day_idx+1)*30}, 0, {height/2})">
        <Design_2_DayCooling data={data[day_nr]} {xScale} {yScale} {width} {height}/>
    </g>
{/each}