<script>
	import { scaleLinear } from 'd3-scale';
	import { extent } from 'd3-array'
	import Design_2_CityHeating from './design_2_CityHeating.svelte';
	import Design_2_CityCooling from './design_2_CityCooling.svelte';

	// Size and margins
	const width = 600;
 	const height = 200;
 	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  	const innerWidth = width - margin.left - margin.right;
  	const innerHeight = height - margin.top - margin.bottom;

	let datapoints = []
  	fetch("data/Ex2.json")
	  .then(res => res.json())
	  .then(data => datapoints = data)


	let transformed_data = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data)) {
				transformed_data[d.city] = {}
			}
			if ( !(d.day_of_year in transformed_data[d.city])) {
				transformed_data[d.city][d.day_of_year] = []
			}
			transformed_data[d.city][d.day_of_year].push(d.heating)

		})
	}

	let total_heating_per_month = 0
	let max_heating = 0
	let min_heating = 100000000000
	let transformed_data_heating = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data_heating)) {
				transformed_data_heating[d.city] = {}
			}
			if ( !(d.month in transformed_data_heating[d.city])) {
				transformed_data_heating[d.city][d.month] = []
				if (total_heating_per_month < min_heating && total_heating_per_month != 0) {
					min_heating = total_heating_per_month
				}
				total_heating_per_month = 0
			}
			total_heating_per_month = total_heating_per_month + d.heating
			if (total_heating_per_month > max_heating) {
				max_heating = total_heating_per_month
			}

			transformed_data_heating[d.city][d.month] = [total_heating_per_month]
			
		})
	}

	let total_cooling_per_month = 0
	let max_cooling = 0
	let min_cooling = 100000000000
	let transformed_data_cooling = {}
	$:{
		datapoints.forEach((d) => {
			if ( !(d.city in transformed_data_cooling)) {
				transformed_data_cooling[d.city] = {}
			}
			if ( !(d.month in transformed_data_cooling[d.city])) {
				transformed_data_cooling[d.city][d.month] = []
				if (total_cooling_per_month < min_cooling && total_cooling_per_month != 0) {
					min_cooling = total_cooling_per_month
				}
				total_cooling_per_month = 0
			}
			total_cooling_per_month = total_cooling_per_month + d.cooling
			if (total_cooling_per_month > max_cooling) {
				max_cooling = total_cooling_per_month
			}

			transformed_data_cooling[d.city][d.month] = [total_cooling_per_month]
			
		})
	}


	$: console.log(transformed_data_heating)
	$: console.log(min_heating)
	$: console.log(max_heating)

	$: xScale = scaleLinear().domain([0,12]).range([0,width/3])
	//$: yScale = scaleLinear().domain([0,2500000]).range([height/2,0])
	$: yScale = scaleLinear().domain([min_heating/1.5, max_heating*1.5]).range([height/2,0])
	$: yScale_cooling = scaleLinear().domain([min_cooling/1.5, max_cooling*1.5]).range([height/2,0])

</script>

<style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}

	.major {
		stroke: #333;
		stroke-width: 1;
	}

	.clock-face {
		stroke: #333;
		fill: white;
	}
</style>

<svg {width} {height}>
	{#each Object.keys(transformed_data_heating) as city_name, city_idx}

	<g transform="translate({(city_idx+0.5)*(width/3)},{height/2})">
		<text font-size="10" transform="translate(-6, {-height/2+30})">12</text>
		<text font-size="10" transform="translate({width/6-30}, +3)">3</text>
		<text font-size="10" transform="translate(-3, {height/2-20})">6</text>
		<text font-size="10" transform="translate({-width/6+24}, +3)">9</text>
		<text font-size="15" transform="translate(-30, {-height/2+15})">{city_name}</text>
		<circle class='clock-face' r='{width/9}'/>
		{#each [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55] as month}
		<line
			class='major'
			y1='55'
			y2='65'
			transform='rotate({30 * month})'
		/>
		{/each}
		{#each [0, 15, 30, 45] as major_months}
		<line
			class='major'
			y1='0'
			y2='65'
			transform='rotate({30 * major_months})'
		/>
		{/each}
	</g>
	
	<g transform="translate({city_idx*width/3},0)">
		<Design_2_CityHeating data={transformed_data_heating[city_name]} {width} {xScale} {yScale} {height}/>
	</g>
	{/each}
	{#each Object.keys(transformed_data_cooling) as city_name, city_idx}
	<g transform="translate({city_idx*width/3},0)">
		<Design_2_CityCooling data={transformed_data_cooling[city_name]} {width} {xScale} yScale={yScale_cooling} {height}/>
	</g>
	{/each}
</svg>
<svg width=350 height=200>
	<text font-size="15" transform="translate(5, 20)">Monthly heating and cooling energy for</text>
	<text font-size="15" transform="translate(5, 35)">Baltimore, Chicago and Los Angeles displayed in</text>
	<text font-size="15" transform="translate(5, 50)">a circular plot.</text>
	<circle cx=10 cy=70 r=5  style="fill:red" />
	<text font-size="15" transform="translate(25, 75)">Heating Energy</text>
	<circle cx=10 cy=90 r=5  style="fill:blue" />
	<text font-size="15" transform="translate(25, 95)">Cooling Energy</text>
</svg>
