<script>
  let clicked = false;
</script>

<div>
  
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if clicked == false}
  <p id="demo">You have to click the button!</p>
  {:else}
  <p id="demo">You have clicked the button!</p>
  {/if}

  <!--  -->
</div>