<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="{current === 'messi' ? 'selected' : ''}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="{current === 'ronaldo' ? 'selected' : ''}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="{current === 'neymar' ? 'selected' : ''}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>


	.selected {
		background-color: #ff7210;
		color: white;
	}
</style>
