<script>
    const name = {name: 'Christopher'};
    const favorite_things = ['playing tennis', 'becoming a data scientist', 'watching Formula 1', 'programming'];
</script>
<div>
<p>My name is {name.name} and these are some of my favoirte things:</p>
<ul>
    <li>{favorite_things[0]}</li>
    <li>{favorite_things[1]}</li>
    <li>{favorite_things[2]}</li>
    <li>{favorite_things[3]}</li>
</ul>
</div>
