<script>
    let radius = 4;
    function calc_circ(radius) {
        let cirucumference = 2* Math.PI *radius;
        return Math.round((cirucumference + Number.EPSILON) * 100) / 100;
    }
 
</script>

<p>The circumference of a circle with radius {radius}m is {calc_circ(radius)}m.</p>
