<script>
  // Properties
  export let data = [1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810];
  let year = 1800
  const continents = ["europe", "asia", "americas", "africa"];
</script>

<div class="row">
  <button id="playAnimation" on:click={setInterval(function playAnimation() {
	if (year < 1810) {
			year += 1
	}
	else {
		year = 1800
	}
		
	}, 1000)}>Play</button>
  <button id="resetAnimation" on:click={year=1800}>Reset</button>
  <input type="range" min="1800" max="1810" value="{year}" class="slider" id="myRange">
  <ul class="range-labels">
  <label for="continents">Choose a continent:</label>
  <select name="continent-label" id="continent">
    <option value="europe">Europe</option>
    <option value="asia">Asia</option>
    <option value="americas">Americas</option>
    <option value="africa">Africa</option>
  </select>
</div>
