<script>
    let count = 0;
</script>
<div>
	<button class="btn btn-primary" on:click={() => (count += 1)}>
		Increase the count</button>
	<p id="demo">{count}</p>
	<button class="btn btn-primary" on:click={() => (count = 0)}>
		Reset the count</button>
</div>


