<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
	
	let opacity = [0.3, 0.3, 0.3, 0.3, 0.3]

	
	function lightsout() {
		
		if (index==0) {
			color = "darkgreen"
		}
		else {

			opacity[5-index] = 1
			index -= 1
		}
	}
	import { onMount } from 'svelte';
	let data = null;
  onMount(async () => {data = await setInterval(() => {
    lightsout();
	}, 1000);
											 
	return () => clearInterval(interval);
  });

</script>

<svg viewBox='0 0 {width} {height}'>
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx={points[0]} cy={innerHeight} r="10" fill={color} opacity={opacity[0]}/>
		<circle cx={points[1]} cy={innerHeight} r="10" fill={color} opacity={opacity[1]}/>
		<circle cx={points[2]} cy={innerHeight} r="10" fill={color} opacity={opacity[2]}/>
		<circle cx={points[3]} cy={innerHeight} r="10" fill={color} opacity={opacity[3]}/>
		<circle cx={points[4]} cy={innerHeight} r="10" fill={color} opacity={opacity[4]}/>
  </g>
</svg>
