<script>
	import { scaleLog } from 'd3-scale';
	import {axisBottom} from 'd3-axis';
	import {select} from 'd3-selection';
	const scaleX = scaleLog().domain([1.9, 10]).range([0, 800]);
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	function xAxis(g){const xAxis = axisBottom(scaleX); xAxis(select(g))}
	
  // Array
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle cx={scaleX(2)}
						cy=50
  					r=10 />
		<circle cx={scaleX(4)}
						cy=50
  					r=10 />
		<circle cx={scaleX(6)}
						cy=50
  					r=10 />
		<circle cx={scaleX(7)}
						cy=50
  					r=10 />
		<circle cx={scaleX(9)}
						cy=50
  					r=10 />
  </g>
	<g use:xAxis ></g>
</svg>
