<script>
	import { scaleLinear } from 'd3-scale';
	import { scaleOrdinal } from 'd3-scale';
	const scaleX = scaleLinear().domain([1,10]).range([0,800]);
	const scaleY = scaleLinear().domain([0,3]).range([100,0]);
	const scaleColour= scaleOrdinal().domain([2,9]).range(["red", "blue", "green", "purple", "pink"]) 
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle cx={scaleX(2)}
  					cy={scaleY(1)}
  					r=10
						style={"fill:" + scaleColour(2)}
						/>
		<circle cx={scaleX(4)}
  					cy={scaleY(2)}
  					r=10
						style={"fill:" + scaleColour(4)}/>
		<circle cx={scaleX(6)}
  					cy={scaleY(1)}
  					r=10
						style={"fill:" + scaleColour(6)}/>
		<circle cx={scaleX(7)}
  					cy={scaleY(3)}
  					r=10
						style={"fill:" + scaleColour(7)}/>
		<circle cx={scaleX(9)}
  					cy={scaleY(1)}
  					r=10
						style={"fill:" + scaleColour(9)}/>
  </g>
</svg>
